.vscode/*
*.pyc
.coverage
.pytest_cache/*
cov.xml
coverage.xml
*.c
*.cpp
*.so
build/*
*.DS_Store
*.html
pyfk.egg-info/*
htmlcov/*
.idea
cython_debug/*
test_fk/*
profile/*
profile_pyfk/*
!pyfk/tests/data/*

# docs
docs/_build/*
docs/_static/*
docs/_template/*
dist/*

token
profile_pyfk/*

cuda_test/*