[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
obspy = "*"
cython = "*"
scipy = "*"
cysignals = "*"

[dev-packages]
coverage = "*"
pytest = "*"
sphinx = "*"
pydata-sphinx-theme = "*"
sphinx-autoapi = "*"
jupyter-sphinx = "*"
pytest-mpi = "*"
sphinx-copybutton = "*"

[requires]
python_version = "3"
