[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pytest = "*"
obspy = "*"
coverage = "*"
cython = "*"
autopep8 = "*"

[dev-packages]
autopep8 = "*"
numba = "*"

[requires]
python_version = "3.8"
