[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
obspy = "*"
cython = "*"
scipy = "*"
cysignals = "*"

[dev-packages]
autopep8 = "*"
pipenv-setup = "*"
coverage = "*"
pytest = "*"

[requires]
python_version = "3"
